
{% load static tailwind_tags i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      Django Base Project
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="base project template" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
    

<!-- Your stuff: Third-party CSS libraries go here -->
  {% tailwind_css %}
<!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />


{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}

<!-- Your stuff: Third-party javascript libraries go here -->


<!-- place project specific Javascript in this file -->
  <script defer src="{% static 'js/project.js' %}"></script>
  <script defer src="{% static 'js/preline.js' %}"></script>
<!-- Theme Check and Update -->
<script>
  const html = document.querySelector('html');
  const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
  const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

  if (isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
  else if (isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
  else if (isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
  else if (isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
</script>

{% endblock javascript %}
</head>
<body class="dark:bg-neutral-900">
  {% block body %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    {% block main %}
      {% block content %}

      {% endblock content %}
    {% endblock main %}
  {% endblock body %}
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}
  {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
  {% endblock inline_javascript %}
</body>
</html>
